.main-info > h2{
  color: tomato;
  font-family: Lato;
  font-size: 2rem;
}

/* @media screen and (max-width: 576px){
  .main-info > h2{
    color: tomato;
    border-bottom: 5px dotted teal;
  }
} */
@media screen and (min-width: 576px){
  .main-info > h2{
    color: tomato;
    border-bottom: none;
    border-top: 5px dotted teal;
  }
}
@media screen and (min-width: 768px){
  .main-info > h2{
    color: tomato;
    border-top: none;
    border-right: 5px dotted teal;
  }
}