.user-card{
  display: flex;
  flex-direction: column;

  border: 3px double teal;
}
.avatar > img{
  width: 100%;
  object-fit: cover;
}
.full-name{
  margin: auto;
  padding: 3rem;
}
/* .user-card{
  flex-basis: 50%;
} 
(вместо .avatar{width: 50%}; and .full-name{width:50%;}) */
@media (min-width: 768px){
  .user-card{
    flex-direction: row;
  }
  .avatar{
    width: 50%;
  }
  .full-name{
    width: 50%;
  }
}